<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PasswordManager.App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="passwords">
                <span class="bi bi-key-fill-nav-menu" aria-hidden="true"></span> Passwords
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-folder-fill-nav-menu" aria-hidden="true"></span> Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collections">
                <span class="bi bi-collection-fill-nav-menu" aria-hidden="true"></span> Collections
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tags">
                <span class="bi bi-tag-fill-nav-menu" aria-hidden="true"></span> Tags
            </NavLink>
        </div>
        
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/users">
                    <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> User Management
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>
